<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error 503</title>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
    </head>
<body>
    <div class="alert alert-danger" role="alert">
        <strong>Error: </strong> {{ error }}
    </div>
</body>
</html>