<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Квесты</title>
    <script src="/static/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css">
    <style>
        body {
            background-image: linear-gradient(to right, yellowgreen, lightskyblue);
        }
    </style>
    </head>
<body>
    <h1 class="text-center">Добро пожаловать на сайт городских квестов!</h1>
    <div class="text-center">
        <a href="{% url 'service:login' %}" class="btn btn-default text-center">Войти</a>
    </div>
</body>
</html>